<h1>My Song</h1>
<label>Name</label>
<%= @song.name %>
<label> Artist_id</label>
<%= link_to 'My Artist', artist_path  %>
<%= @song.artist_id %>
<label> Genre_id</label>
<%= link_to 'My Genre', genre_path  %>
<%= @song.genre_id %>